@import url(small.css);

@media (min-width: 64em) {
    header div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    footer .footer-container, .footer-bottom {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        max-width: 980px;
    }
}

input[type="search"] {
    border: none;
    padding: var(--size-2);
    border-radius: var(--size-3);
    padding-left: 36px;
}

.brightness {
    rotate: 0deg;
    filter: invert(1);
}


@keyframes wave-squares {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

@keyframes wave-lines {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

/* footer */

footer {
    color: var(--whitetone);
    background: #17263D;
    background: linear-gradient(124deg, rgba(23, 38, 61, 1) 41%, rgba(74, 90, 112, 1) 73%, rgba(30, 45, 66, 1) 100%);
    position: relative;
    padding-top: 129px;
}

.footer-logo {
    width: 68px;
    height: 68px;
    
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-bottom img {
    margin: var(--size-2);
}

.footer-bottom p {
    margin: var(--size-2);
    font-size: var(--size-2);
}

.wave-container-bottom {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: translateY(1px);
    max-height: 68px;
}

footer a {
    color: var(--whitetone);
    text-decoration: none;
}

footer a:hover {
    color: var(--tangerine);
    text-decoration: underline;
}

footer ul li {
    padding: var(--size-0);
}