@import url("small.css");

@media (min-width: 38em) and (max-width: 63.9em) {
    .product-modal-content {
        flex-direction: row;

        align-items: flex-start;

        padding: 40px;
        gap: 40px;
    }

    .product-modal-content img {
        max-width: 40%;
    }

    .product-modal-details {
        flex: 1;
        text-align: left;
    }

    .product-modal-content h2,
    .product-modal-content p {
        text-align: left;
    }

    input[type="search"],
    header nav {
        width: 100% !important;
    }

    /* header nav */

    header nav ul {
        position: static;
        flex-direction: row;
    }

    header nav ul li {
        background-color: transparent;
        border-bottom: none
    }

    header nav ul li a {
        padding: 0;
    }

    header nav ul li {
        margin: 0 var(--size-2);
    }

    .call-to-action .text {
        display: block;
    }

    header nav ul li a:hover {
        color: var(--tangerine);
    }

    header nav ul li a.active:hover {
        color: var(--blacktone);
        background-color: var(--french-gray);
    }

    summary img {
        display: none !important;
    }

}