@import url("main.css");

@media (min-width: 38em) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--lapis-lazuli);
        color: var(--whitetone);
    }

    .call-to-action {
        left: 10%;
        bottom: 15%;
    }

    .main-menu {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav ul li a {
        text-align: center;
        text-decoration: none;
        color: var(--whitetone);
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .resp-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    }

    .tabs {
        min-height: 180px;
    }

    .events {
        grid-column: span 2;
    }

    .events .tabs-header h2 {
        text-align: left;
    }

    /* footer */

    footer .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        background-color: var(--dark-purple);
        margin-top: 1.5rem;
    }

    footer .socials {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer .copyright,
    footer .about {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
    }

    section.join h2 {
        grid-column: span 5;
    }

    form.applicant {
        grid-column: span 2;
    }

    section.join {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

footer {
    padding: 20px;
    display: grid;
    text-align: left;
    grid-template-columns: 1fr;
    background-color: var(--dark-purple);
    color: var(--whitetone);
    margin-top: 1.5rem;
}

footer .socials img {
    width: 64px;
    height: auto;
}

/* section join */

section.join {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: var(--size-2);
}

section.join h2 {
    font-family: var(--Heading);
}

input[type="text"],
input[type="tel"],
input[type="email"],
select,
textarea {
    padding: 1rem;
    border-radius: 16px;
    outline: none;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: var(--Body);
    font-size: medium;
}

textarea {
    resize: none;
}

input[type="submit"] {
    padding: var(--size-2) var(--size-3);
    color: var(--whitetone);
    background-color: var(--dark-purple);
    font-family: var(--Body);
    border-radius: var(--size-1);
    border: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: var(--size-2)
}

input[type="submit"]:hover {
    cursor: var(--pointer);
    background-color: var(--lapis-lazuli);
}

form.applicant label {
    display: flex;
    flex-direction: column;
    font-family: var(--Body);
    text-align: left;
    margin-top: var(--size-2);
}

form.applicant label>* {
    margin-top: var(--size-1);
}

form.applicant fieldset {
    padding: var(--size-2);
    font-family: var(--Body);
    border-radius: var(--size-1);
    width: 90%;
    object-fit: contain;
}

form.applicant .levels label {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: var(--size-1);
    margin-top: 0;
}

form.applicant .levels label:hover {
    cursor: var(--pointer);
    color: var(--whitetone);
    background-color: var(--dark-purple);
}

form.applicant .levels label > * {
    margin-right: var(--size-2);
}

