@media (min-width: 38em) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--lapis-lazuli);
        color: var(--whitetone);
    }
    
    .call-to-action {
        left: 10%;
        bottom: 15%;
    }

    .main-menu {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav ul li a {
        text-align: center;
        text-decoration: none;
        color: var(--whitetone);
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .resp-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    }

    .tabs {
        min-height: 180px;
    }

    .events {
        grid-column: span 2;
    }

    .events .tabs-header h2 {
        text-align: left;
    }

    /* footer */

    footer .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        background-color: var(--dark-purple);
        margin-top: 1.5rem;
    }

    footer .socials {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer .copyright,
    footer .about {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
    }
}

footer {
    padding: 20px;
    display: grid;
    text-align: left;
    grid-template-columns: 1fr;
    background-color: var(--dark-purple);
    color: var(--whitetone);
    margin-top: 1.5rem;
}

footer .socials img {
    width: 64px;
    height: auto;
}