:root {
    --Heading: "Newsreader", serif;
    --Body: "Roboto", sans-serif;
}

h2 {
    font-family: var(--Heading);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-family: var(--Body);
    font-size: 1rem;
    line-height: 1.5;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}